name: Continuous Integration
on:
  pull_request:
    branches: [master]
  push:
    branches: [master]
jobs:
  ci:
    runs-on: small-dind-spot
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3

  scan:
    needs: ci
    if: github.event_name == 'pull_request'
    uses: circlefin/circle-public-github-workflows/.github/workflows/pr-scan.yaml@v1

  release-sbom:
    needs: ci
    if: github.event_name == 'push'
    uses: circlefin/circle-public-github-workflows/.github/workflows/attach-release-assets.yaml@v1
